a {
  text-decoration: none;
}

.logo {
  height: 128px;
  width: auto;
  transition: opacity 0.25s ease-in-out;
}

.logo:hover {
  opacity: 0.7;
}

.search-BTN {
  border: none;
  display: inline-block;
  width: 260px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(24, 24, 24);
  background: linear-gradient(
    145deg,
    rgba(218, 165, 32, 1),
    rgba(255, 215, 0, 1)
  );
  border: 2px solid rgba(255, 215, 0, 1);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(255, 215, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}

.search-BTN:hover {
  background: linear-gradient(
    145deg,
    rgba(255, 215, 0, 1),
    rgba(218, 165, 32, 1)
  );
  color: rgb(7, 7, 7);
  transform: scale(1.05);
  opacity: 0.7;
}

.search-BTN:focus,
.search-BTN:active {
  outline: none;
  border: none;
}

.button-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.load-more-btn {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 215, 0, 1);
  font-weight: bold;
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 6px;
  width: 50%;
  background-color: rgba(218, 165, 32, 1);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  margin-top: 32px;
}

.load-more-btn:hover {
  background-color: rgba(255, 215, 0, 1);
  border-color: rgba(218, 165, 32, 1);
  scale: 1.1;
  opacity: 0.7;
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: #ccc;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  pointer-events: all;
}

.spinner {
  border: 6px solid #333;
  border-top: 6px solid #888;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .search-BTN {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
