body {
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 1);
    color: rgba(230, 230, 230, 1);
    font-family: Arial, sans-serif;
}

.logo-impressum {
    height: 128px;
    width: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    align-self: flex-start;
    max-width: 800px;
    padding: 64px 24px;
    flex-grow: 1;
}

h1 {
    color: #ffcb05;
    text-align: left;
}

section {
    margin-bottom: 48px;
}

p {
    line-height: 1.6;
}

a {
    color: rgba(255, 215, 0, 1);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

footer {
    background-color: rgba(15, 15, 15, 1);
    padding: 24px;
    box-shadow: 0px 1px 4px rgba(255, 215, 0, 0.2);
    text-align: center;
    margin-top: 64px;
}

@media (max-width: 500px) {
    main {
        padding: 32px 16px;
        text-align: center;
    }
 
    .header-impressum{
        justify-content: center;
        align-items: center;
        justify-content: center;
    }


    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}