.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 24px;
}

.pokemon-images {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.pokemon {
  background-color: rgb(7, 7, 7);
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 250px;
  text-align: center;
  font-weight: bold;
  color: rgba(230, 230, 230, 1);
  text-transform: uppercase;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: rgba(218, 165, 32, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.7);
}

.pokemon:hover .pokemon-images.pokemon-bg-grass {
  background-color: rgb(77, 125, 77);
}

.pokemon:hover .pokemon-images.pokemon-bg-fire {
  background-color: rgb(159, 52, 52);
}

.pokemon:hover .pokemon-images.pokemon-bg-water {
  background-color: rgb(116, 190, 209);
}

.pokemon:hover .pokemon-images.pokemon-bg-bug {
  background-color: rgb(160, 171, 41);
}

.pokemon:hover .pokemon-images.pokemon-bg-normal {
  background-color: rgb(122, 87, 52);
}

.pokemon:hover .pokemon-images.pokemon-bg-poison {
  background-color: rgb(166, 114, 175);
}

.pokemon:hover .pokemon-images.pokemon-bg-electric {
  background-color: rgb(189, 210, 0);
}

.pokemon:hover .pokemon-images.pokemon-bg-ground {
  background-color: rgb(189, 210, 0);
}

.pokemon:hover .pokemon-images.pokemon-bg-fairy {
  background-color: rgb(251, 217, 254);
}

.pokemon:hover .pokemon-images.pokemon-bg-fighting {
  background-color: rgb(165, 73, 45);
}

.pokemon:hover .pokemon-images.pokemon-bg-psychic {
  background-color: rgb(117, 139, 19);
}

.pokemon:hover .pokemon-images.pokemon-bg-rock {
  background-color: rgb(102, 104, 95);
}

.pokemon:hover .pokemon-images.pokemon-bg-ghost {
  background-color: rgb(208, 208, 207);
}

.pokemon:hover .pokemon-images.pokemon-bg-dragon {
  background-color: rgb(49, 71, 132);
}

.pokemon:hover .pokemon-images.pokemon-bg-ice {
  background-color: rgb(230, 234, 246);
}

.pokemon:hover .pokemon-images.pokemon-bg-dark {
  background-color: rgb(46, 51, 64);
}

.pokemon:hover .pokemon-images.pokemon-bg-steel {
  background-color: rgb(72, 65, 60);
}

.pokemon:hover .pokemon-names.pokemon-bg-grass {
  color: rgb(77, 125, 77);
}

.pokemon:hover .pokemon-names.pokemon-bg-fire {
  color: rgb(159, 52, 52);
}

.pokemon:hover .pokemon-names.pokemon-bg-water {
  color: rgb(116, 190, 209);
}

.pokemon:hover .pokemon-names.pokemon-bg-bug {
  color: rgb(160, 171, 41);
}

.pokemon:hover .pokemon-names.pokemon-bg-normal {
  color: rgb(122, 87, 52);
}

.pokemon:hover .pokemon-names.pokemon-bg-poison {
  color: rgb(166, 114, 175);
}

.pokemon:hover .pokemon-names.pokemon-bg-electric {
  color: rgb(189, 210, 0);
}

.pokemon:hover .pokemon-names.pokemon-bg-ground {
  color: rgb(189, 210, 0);
}

.pokemon:hover .pokemon-names.pokemon-bg-fairy {
  color: rgb(251, 217, 254);
}

.pokemon:hover .pokemon-names.pokemon-bg-fighting {
  color: rgb(165, 73, 45);
}

.pokemon:hover .pokemon-names.pokemon-bg-psychic {
  color: rgb(117, 139, 19);
}

.pokemon:hover .pokemon-names.pokemon-bg-rock {
  color: rgb(102, 104, 95);
}

.pokemon:hover .pokemon-names.pokemon-bg-ghost {
  color: rgb(208, 208, 207);
}

.pokemon:hover .pokemon-names.pokemon-bg-dragon {
  color: rgb(49, 71, 132);
}

.pokemon:hover .pokemon-names.pokemon-bg-ice {
  color: rgb(230, 234, 246);
}

.pokemon:hover .pokemon-names.pokemon-bg-dark {
  color: rgb(46, 51, 64);
}

.pokemon:hover .pokemon-names.pokemon-bg-steel {
  color: rgb(72, 65, 60);
}

.pokemon-BTN-grass {
    border: 2px solid rgba(12,108,12);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(24, 24, 24), rgb(12, 108, 12));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-fire {
    border: 2px solid rgb(159, 52, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 20, 20), rgb(159, 52, 52));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-water {
    border: 2px solid rgb(116, 190, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(20, 24, 40), rgb(116, 190, 209));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-poison {
    border: 2px solid rgb(166, 114, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 20, 40), rgb(166, 114, 175));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-electric {
    border: 2px solid rgb(189, 210, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 40, 10), rgb(189, 210, 0));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-bug {
    border: 2px solid rgb(160, 171, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(30, 30, 10), rgb(160, 171, 41));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-normal {
    border: 2px solid rgb(122, 87, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(30, 20, 10), rgb(122, 87, 52));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-ground {
    border: 2px solid rgb(189, 210, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 40, 20), rgb(189, 210, 0));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-fairy {
    border: 2px solid rgb(251, 217, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 30, 40), rgb(251, 217, 254));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-fighting {
    border: 2px solid rgb(165, 73, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 20, 20), rgb(165, 73, 45));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-psychic {
    border: 2px solid rgb(117, 139, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(20, 30, 10), rgb(117, 139, 19));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-rock {
    border: 2px solid rgb(102, 104, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(30, 30, 30), rgb(102, 104, 95));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-ghost {
    border: 2px solid rgb(208, 208, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 40, 40), rgb(208, 208, 207));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-dragon {
    border: 2px solid rgb(49, 71, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(20, 20, 40), rgb(49, 71, 132));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-ice {
    border: 2px solid rgb(230, 234, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(40, 50, 70), rgb(230, 234, 246));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-dark {
    border: 2px solid rgb(46, 51, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(20, 20, 30), rgb(46, 51, 64));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-steel {
    border: 2px solid rgb(72, 65, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background: linear-gradient(145deg, rgb(30, 30, 40), rgb(72, 65, 60));
    transition: all 0.25s ease-in-out;
}

.pokemon-BTN-grass:hover,
.pokemon-BTN-fire:hover,
.pokemon-BTN-water:hover,
.pokemon-BTN-poison:hover,
.pokemon-BTN-electric:hover,
.pokemon-BTN-bug:hover,
.pokemon-BTN-normal:hover,
.pokemon-BTN-ground:hover,
.pokemon-BTN-fairy:hover,
.pokemon-BTN-fighting:hover,
.pokemon-BTN-psychic:hover,
.pokemon-BTN-rock:hover,
.pokemon-BTN-ghost:hover,
.pokemon-BTN-dragon:hover,
.pokemon-BTN-ice:hover,
.pokemon-BTN-dark:hover,
.pokemon-BTN-steel:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 10px rgba(219, 164, 0, 0.6);
}


@media (max-width: 614px) {
  .pokemon-container {
    justify-content: center;
    padding: 16px;
  }
}

@media (max-width: 598px) {
  .pokemon-container {
    padding: 12px;
  }
}
