body{
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 1);
    color: rgba(230, 230, 230, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

     background-color: rgba(15, 15, 15, 1);
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 16px;
     padding-right: 16px;
     box-shadow: 0px 1px 4px rgba(255, 215, 0, 0.2) ;

     margin-bottom: 64px;
}

.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pokemon {
    background-color: rgb(15, 15, 15);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 150px;
    text-align: center;
    font-weight: bold;
    color: rgba(230, 230, 230, 1);
    text-transform: uppercase; 
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon:hover {
    transform: scale(1.1); /* zoom in */
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.7);
}