.dialog-container{
    width: 450px;
    height: 750px;
    background-color: rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.images{
   border-radius: 6px;
   margin-top: 64px;
   width: 250px;
   height: 250px;
}