body{
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 1);
    color: rgba(230, 230, 230, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 15, 15, 1);
    padding: 24px;
    box-shadow: 0px 1px 4px rgba(255, 215, 0, 0.2) ;
    margin-bottom: 64px;
}

@media (max-width: 500px) {
    header{
        flex-direction: column;
    }
}

