body{
    margin: 0;
    padding: 0;
    background-color: rgba(24, 24, 24, 1);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

     background-color: rgba(15, 15, 15, 1);
     padding-top: 16px;
     padding-bottom: 16px;
     padding-left: 16px;
     padding-right: 16px;
     box-shadow: 0px 1px 4px rgba(255, 215, 0, 0.2) ;
}

