dialog{
    border-radius: 6px;
    outline: none;
    padding: 12px;
}

.dialog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-header{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dialog-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-pokemon-name{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.dialog-img{
    width: 300px;
    height: auto;
}

.dialog-type{
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: rgb(78, 78, 78);
    padding: 0;
    width: 100%;
}